* {
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 2em;
    display: inline;
}

hr {
    height: 1px;
    background-color: lightblue;
    border:none;
    margin: 1px;
}

form, td {
    vertical-align: baseline;
}

.inputLabel {
    padding: 0.2em 0.4em;
    font-size: 1em;
    color: #4e6d83;
    background-color: transparent;
    border: none;
}

.inputField {
    padding: 0.2em 0.4em;
    font-size: 1em;
    border: 0.15em solid white;
    border-radius: 0.5em;
}

.liveData {
    font-weight: normal;
    color: white;
}

table.tabularData {
    width: 100%;
    border-width: 0.1em;
    background-color: #62628b;
    font-size: 0.85em;
}

table.tabularData th {
    color: white;
    text-align: center;
    vertical-align: text-top;
    padding: 0.2em 0.4em;
}

table.tabularData td {
    color: #b1e2ff;
    text-align: left;
    padding: 0.2em 0.5em;
    background-color: navy;
}

.faded {
    color: #aad7f3;
}

.button {
    padding: 0.5em 1em;
    font-weight: normal;
    font-size: 1em;
    border: 0.15em solid white;
    border-radius: 1em;
    margin: 0.2em;
    color: white;
    background-color: #4e6d83;
    text-align: center;
}

.button:hover {
    background-color: #6f9dba;
    cursor: hand;
}

.toolbtn {
    font-weight: bold;
    font-size: 2em;
    color: #aad7f3;
}

.toolbtn:hover {
    cursor: pointer;
    color: white;
}

.toolbtn_title {
    font-size: 80%;
    color: #aad7f3;
    position: relative;
    top: -8px;
}

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: navy;
    color: white;
}

.shortButton {
    margin: 0.4em;
    padding: 0.2em 0.5em;
    font-weight: normal;
    font-size: 1em;
    border: 0.15em solid white;
    border-radius: 1em;
    color: white;
    text-align: center;
    background-color: #4e6d83;
}

.shortButton:hover {
    background-color: #6f9dba;
    cursor: pointer;
}

#map-canvas {
    height: 100%;
}
