* {
    font-family: sans-serif;
    font-weight: 100;
    color: white;
}

h1 {
    font-size: 2em;
    display: inline;
}

hr {
    height: 1px;
    background-color: lightblue;
    border:none;
    margin: 1px;
}

form, td {
    vertical-align: baseline;
}

.inputField {
    padding: 10px 20px;
    font-weight: normal;
    font-size: 1em;
    border: 2px solid white;
    border-radius: 20px;
}

.liveData {
    font-weight: normal;
    color: white;
}

table.tabularData {
    border-width: 1px;
    background-color: #6f9dba;
}

table.tabularData th {
    color: white;
    text-align: center;
    vertical-align: text-top;
    padding: 5px 10px;
    min-width: 20px;
}

table.tabularData td {
    color: #b1e2ff;
    text-align: right;
    padding: 2px 10px;
    background-color: #5f859f;
}

table.dataList td {
    color: white;
    text-align: left;
    padding: 1px 5px;
}

.faded {
    color: #aad7f3;
}

.button {
    padding: 10px 20px;
    font-weight: normal;
    font-size: 1em;
    border: 2px solid white;
    border-radius: 20px;
    margin: 10px;
}

.button:hover {
    background-color: #6f9dba;
    cursor: hand;
}

.toolbtn {
    font-weight: bold;
    font-size: 2em;
    color: #aad7f3;
}

.toolbtn:hover {
    cursor: pointer;
    color: white;
}

.toolbtn_title {
    font-size: 80%;
    color: #aad7f3;
    position: relative;
    top: -8px;
}

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #5f859f;
}

#map-canvas {
    height: 100%;
}
